<section class="body-container">
  <article class="body-main">
    <h2>Welcome <%= current_user.first_name %></h2>
    <%= render partial: 'requests-made' if current_admin? %>
    <%= render partial: 'requests' if current_user.has_requests? %>
  </article>
</section>
