<section class='main-hero'>
  <section class='main-container'>
    <section class='main-logo'>
     refugee_project.
    </section>
    <section class='main-login'>
      <%= link_to "Login", new_user_session_path %>
    </section>
  </section>
</section>
