<section class="body-container">
  <article class="body-main">
    <section class="card-container">
      <% @requests.each do |request| %>
        <request class="request-card">
          <div class="request-name"><%= link_to request.name, request_path(request) %></div>
          <h2>Status: <status class="<%= request.status.downcase %>"><%= request.status %></h2>
        </request>
      <% end %>
    </section>
  </article>
</section>
