<h2>Investigator has been registered successfully</h2>
<h3>Please send the following information so that they can log in</h3>
<section class='login-instructions'>
  <p>Email: <a href='mailto:<%= @user.email %>'><%= @user.email %></a></p>
  <p>Password: <%= @generated_password %></p>
</section>
